<section>
  <nav>
    <a class="navbar-brand">
      <div class="logo-image">
        <img src="/images/logoimage.png"
          class="img-fluid"/>
      </div>
    </a>
    <nav class="navigation">
  <div class="menuToggle">
     <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    
      <ul class="menu"> 
        <a href="/wallet"><li> Wallet</li></a>
        <a href="/inspiration"><li> Inspiration</li></a>
         <a href="/numbers"><li> Numbers</li></a>
        <a href="/logout"><li> Logout</li></a>
        </ul>
        </div>
  </nav>
</section>
<div class="container-inspiration">
<h2 class="balance">General Money leaks</h2>
<p class="text-white">Check out in which areas the users of Minimalfin are expending the most</p>
<div id="chart">
  <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-znfoo/embed/charts?id=d37964a2-d4d3-420b-8bb6-b74cb30b807c&maxDataAge=10&theme=light&autoRefresh=true"></iframe>
</div>

<section class="text-white">
  <h1 class="balance">How do you use your money?</h1>
  <p>The area with most expenses is <b>{{biggestTag}}</b></p><br>
  <p>Your expenses in each area:</p>
  <ul>
    <li>Groceries:   -{{groceries}}€</li>
    <li>Restaurant:   -{{restaurant}}€</li>
    <li>Entertainment:   -{{entertainment}}€</li>
    <li>Shopping:   -{{shopping}}€</li>
    <li>Transportation:   -{{transportation}}€</li>
    <li>Home:   -{{home}}€</li>
    <li>Health:   -{{health}}€</li>
    <li>Subscriptions:   -{{subscriptions}}€</li>
    <li>Other:   -{{other}}€</li>

  </ul>

</section>
</div>

